@font-face {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  src: url("./Cormorantinfant.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 700;
  src: url("./Cormorantinfantbold.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("./Raleway-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("./Raleway-Medium.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("./Raleway-Bold.woff2") format("woff2");
}

/* font-family: "Cormorant Infant", sans-serif; */
/* font-family: "Raleway", sans-serif; */
